.carac-space-title {
  color: white;
}

.carac-container {
  display: flex;
}

.carac-content {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.carac-button {
  margin: 20px 0px;
}
.carac-button button {
  padding: 25px 100px;
  border-radius: 0.5em;
  font-weight: 900;
}
@media (max-width: 1025px) {
  .carac-content {
    flex-direction: column;
  }
  .ToolsFlex {
    width: 90%;
    justify-content: center;
    flex-wrap: nowrap;
  }
  .carac-space-title {
    font-size: 15px;
    padding: 20px 0px;
    text-align: center;
  }
  .carac-button button {
    padding: 25px 20px;
    border-radius: 0.5em;
    font-weight: 900;
  }
}
