.typewriterEffect {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  border-right: 1px solid black;
  animation: typing 2s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}
