.card-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.card {
  text-align: justify;
  width: 20%;
  border-radius: 0.5em;
  border: 2px solid rgb(238, 238, 238);
  height: 280px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  transition: border 0.3s ease-in-out;
}
.card:hover {
  border: 1px solid #007bff;
}
.card > div {
  margin-bottom: 10px;
}
.card-title {
  padding: 10px 0px;
  font-size: 13px;
}
.card-description {
  line-height: 2;

}
.card-links {
  padding: 30px 0px;
}
.card-links a {
  text-decoration: none;
  color: black;
  font-weight: 900;
  transition: 0.3s ease-in-out;
}
.card-links:hover a {
  color: rgb(119, 40, 230);
}
.ToolsFlex {
  width: 95%;
}
.ToolsFlex > .card {
  text-align: center;
  color: #c5c5c5;
  height: 300px;
  margin: 50px 0px;
  border:none !important;
  width: 25%;
}
@media (max-width: 1629px) {
  .card {
    height: fit-content !important;
  }
}
@media (max-width: 1140px) {
  .card-container {
    width: 100% !important;
  }
}
@media (max-width: 1025px) {
  .card-container {
    flex-direction: column;
    width: 100%;
  }
  .card {
    width: 80%;
    margin: 20px 0px;
    border: 5px solid rgb(238, 238, 238);
    height: fit-content;
  }
  .card:hover {
    border: 5px solid #007bff;
  }
  .ToolsFlex > .card {
    width: 90%;
    height: fit-content;
  }
}
