.title {
  text-align: center;
  margin-top: 100px;
}
.marquee {
  width: 100%;
  overflow: hidden;
  margin-top:50px;
  margin-bottom: 100px;
}

.marquee li {
  font-size: 50px;
}

.marquee_content {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
 
}

.marquee_item {
  flex-shrink: 0;
}


@media (max-width: 1025px) {
  .skills-container {
    width: 90%;
  }
  .skills-button button {
    padding: 15px 25px;
    font-size: 15px;
  }
}
