.homeTitle {
  text-align: center;
}
.homeTitle .mainTitle {
  font-size: 55px;
  color: #ffff;
}
.homeTitle h1 span {
  font-size: 50px;
  color: rgb(1, 252, 252);
}
.homeSubtitle {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.homeSubtitle p {
  font-size: 20px;
  color: #ffff;
}
.homeSubtitle a {
  margin: 30px 0px;
  padding: 25px 40px;
  background-color: rgb(37, 193, 193);
  color: white;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  border: 1px solid rgb(37, 193, 193);
  transition: 0.3s ease-in-out;
  cursor: pointer;
  text-decoration: none;
}
.homeSubtitle button:hover {
  background-color: white;
  color: rgb(37, 193, 193);
}
.homeSubtitle span {
  font-weight: 600;
  color: #ffff;
}
@media (max-width: 1025px) {
  .homeContent {
    border-bottom-left-radius: 3em;
    border-bottom-right-radius: 3em;
    height: 100vh;
  }
  .homeTitle .mainTitle {
    font-size: 30px;
  }
  .homeContainer {
    width: 90%;
  }
  .homeTitle h1 span {
    font-size: 30px;
  }
  .homeSubtitle p {
    text-align: center;
    font-size: 15px;
  }
}
