* {
  padding: 0;
  margin: 0;
}
header {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 20px 0px;
  justify-content: center;
  background-color: transparent;
  position: fixed;
  transition: 0.5s ease-in-out;
  top: 0;
  z-index: 4;
}
.logo {
  width: 10%;
}
.header-space {
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.links {
  width: 90%;
  display: flex;
  justify-content: right;
  font-size: 13px;
}
.links nav {
  width: 80%;
  display: flex;
}
.links nav ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: right;
}
.links nav ul li {
  list-style: none;
  padding: 0px 15px;
}
.links nav ul li a {
  text-decoration: none;
  color: white;
}
.button-contact a {
  padding: 10px 50px;
  background-color: rgb(120, 40, 232);
  border-radius: 5px;
}
.notInTop {
  background-color: #181a1a;
  transition: 0.5s ease-in-out;
}
.menu-icon {
  display: none;
  cursor: pointer;
  position: relative;
  z-index: 3;
}

@media (max-width: 1025px) {
  .menu-icon {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 90%;
  }
  .logo {
    width: 10%;
  }
  .header-space {
    width: 80%;
    justify-content: normal;
  }
  .links {
    position: absolute;
    right: -100%;
    flex-direction: column;
    width: 70%;
    z-index: 2;
    top: 0;
    height: 100vh;

    transition: 0.5s ease-in-out;
  }
  .links nav {
    height: 100%;
    width: 100%;
  }
  .links nav ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
  }
  .links nav ul li {
    margin: 20px 0px;
  }
  .links nav ul li:not(:last-child) {
    margin-right: 0px;
  }
  .menu-icon.show {
    display: block;
  }
  .show {
    right: 0;
    top: 0;
    background-color: grey;
    width: 70%;
    height: 100vh;
    transition: 0.5s ease-in-out;
  }
}
