.about-container-title,
.about-container-description {
  padding: 20px 0px;
}
.name-org{
  color:rgb(46, 30, 105, 1);
  font-weight: bold;
}
.about-container-title {
  margin-top: 50px;
}
.about-container-title h1 {
  font-size: 60px;
  text-align: center;
}
.about-container-description {
  line-height: 2;
  font-size: 20px;
  text-align: center;
}
.skills-space div {
  margin: 30px 0px;
}

@media (max-width: 1025px) {
  .about-container-title h1 {
    font-size: 35px;
  }
  .about-container {
    width: 90%;
  }
  .about-cards {
    width: 90%;
  }
}
@media (max-width: 670px) {
  .about-container-description {
    font-size: 15px;
  }
}
