.work-description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.work-description h1 {
  font-size: 60px;
  font-weight: 600;
}
.work-description p {
  font-size: 20px;
  margin: 20px 0px;
}
.work-cards {
  width: 100%;
}
.work-cards .card {
  height: 300px;
  width: 20%;

  padding: 45px 70px;
  margin: 20px 10px;
}

@media (max-width: 1140px) {
  .work-description h1 {
    font-size: 30px;
    font-weight: 600;
  }
  .work-description p {
    font-size: 15px;
    margin: 20px 0px;
  }
  .work-cards .card {
    height: 300px !important;
    width: 40%;

    padding: 20px 30px;
    margin: 20px 0px;
  }
}
@media (max-width: 670px) {
  .work-cards .card {
    width: 80%;
  }
  .work-description p {
    font-size: 15px;
    line-height: 2;
  }
}
